.screen {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  width: 100%;
  min-width: 611px;
  min-height: 281px;
  position: relative;
}

.screen .img {
  position: absolute;
  top: 100px;
  left: 233px;
  width: 51px;
  height: 50px;
  aspect-ratio: 1.02;
}

.screen .img-2 {
  position: absolute;
  top: 100px;
  left: 168px;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
}

.screen .img-3 {
  position: absolute;
  top: 100px;
  left: 102px;
  width: 51px;
  height: 50px;
  aspect-ratio: 1.02;
}

.screen .x {
  position: absolute;
  top: 105px;
  left: 41px;
  width: 41px;
  height: 39px;
  aspect-ratio: 1.05;
}

.screen .element {
  position: absolute;
  top: 167px;
  left: 133px;
  width: 49px;
  height: 49px;
  aspect-ratio: 1;
  object-fit: cover;
}

.screen .element-2 {
  position: absolute;
  top: 167px;
  left: 84px;
  width: 49px;
  height: 49px;
  aspect-ratio: 1;
  object-fit: cover;
}

.screen .element-3 {
  position: absolute;
  top: 167px;
  left: 32px;
  width: 49px;
  height: 49px;
  aspect-ratio: 1;
  object-fit: cover;
}

.screen .div {
  position: absolute;
  top: 42px;
  left: 202px;
  width: 42px;
  height: 41px;
  background-color: #3665fc;
  border-radius: 10px;
}

.screen .element-4 {
  position: absolute;
  top: 42px;
  left: 151px;
  width: 42px;
  height: 41px;
  background-color: #111111;
  border-radius: 10px;
}

.screen .element-5 {
  position: absolute;
  top: 42px;
  left: 95px;
  width: 43px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 10px;
}

.screen .element-6 {
  position: absolute;
  top: 42px;
  left: 40px;
  width: 42px;
  height: 41px;
  background-color: #9ab3eb;
  border-radius: 10px;
}

.screen .rectangle {
  left: 409px;
  width: 51px;
  background-color: #3e7c2e;
  position: absolute;
  top: 48px;
  height: 30px;
  border-radius: 10px;
}

.screen .rectangle-2 {
  left: 465px;
  width: 52px;
  background-color: #edca52;
  position: absolute;
  top: 48px;
  height: 30px;
  border-radius: 10px;
}

.screen .rectangle-3 {
  left: 522px;
  width: 51px;
  background-color: #d4312a;
  position: absolute;
  top: 48px;
  height: 30px;
  border-radius: 10px;
}
